div.container
	div.hero-unit
		a.titleLink(href="/")
			h1= title
		p test version
	form(action="/enter", method="post")
		div.input.center(style="margin-left:0px")
			span.label.success なまえ
			input.xlarge.username(name='username' , type="text ") 

		div.center
			input.btn.large.primary.enterBtn(type="submit", value="はいる")




